<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<strong>
    <s>My First Web Page</s>
</strong>
<s>My First Web Page</s>
<h2>Headings Are Great Fun</h2>

<p>This is my first <strong>paragraph</strong> in my new <em>webpage</em>. This is going to be great. I am so excited I
    can hardly contain <b>myself</b>. Don't you just love paragraphs? I find them very useful. </p>

<h2>Web Pages Are Exciting Too</h2>

<p>Yes, that's right - web pages can be a lot of fun. Learning how to create web pages is easy and <b>entertaining</b>.
    This is my second <em>paragraph</em>. I hope you like it.</p>

<a>Link to Google</a>
<ol type="i" reversed>
    <li>Элемент 1</li>
    <li>Элемент 2</li>
    <li>Элемент 3</li>
</ol>

<ol type="1">
    <li><strong>Элемент 1</strong></li>
    <ul>
        <li><em>Элемент второго уровня</em></li>
        <li><em>Элемент второго уровня</em></li>
    </ul>
    <li><strong>Элемент 2</strong></li>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXAdhcwlh5GA8F40CTOuJlCLdJjvgE7OabTQ&usqp=CAU" width="200" height="300">
    <li><strong>Элемент 3</strong></li>
</ol>

<a href="images/pic.png">Page</a>

</body>
</html>